* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  font-size: 16px;
  background-color: rgb(237, 230, 227);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
}

.header-container {
  width: 100%;
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 0 auto;
}

.logo-nav {
  display: flex;
  max-width: 200px;
}

.logo-nav img {
  width: 100%;
}

.list-items {
  display: flex;
  align-items: center;
}

.list-items li {
  margin-right: 25px;
  font-size: 18px;
}

.list-items li:last-of-type {
  margin-right: 0px;
}

.main-image-wrapper {
  width: 100%;
  margin: 0 auto;

}
.main-image {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

.main-image img {
  width: 100%;
}

.about-us {
  width: 100%;
  padding: 40px 0px;
}

.about-us .wrapper {
  width: 100%;
  max-width: 1480px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 0 auto;
}

.about-us .wrapper .top-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about-us .wrapper .top-content .content {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.about-us .wrapper .top-content .content h2 {
  margin-bottom: 25px;
}

.about-us .wrapper .top-content .content p {

}

.about-us .wrapper .top-content img {
  width: 48%;
}

/* Latest Posts */
.latest-posts {
  width: 100%;
  padding: 40px 0px;
}

.latest-posts .wrapper {
  width: 100%;
  max-width: 1480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

/* Blog Card */

.blog-card {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}

.blog-card:hover {
  color: rgba(0, 0, 0, 0.7);
}

.blog-card .img-wrap {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}

.blog-card .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.blog-card:hover .img-wrap img {
  transform: scale(1.2);
}

.blog-card .content {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

.blog-card .content .category {
  color: rgb(115, 0, 113);
  margin-bottom: 15px;
}

.blog-card .content h4 {
  margin-bottom: 10px;
}

.blog-card .content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card .content hr {
  width: 20%;
  margin: 20px 0px;
  color: rgb(115, 0, 113);
}

.blog-card .content .author-wrapper {
  font-weight: 500;
  font-style: italic;
}

/* Single Post */

.single-post {
  width: 100%;
  padding: 40px 0px;
}

.single-post .wrapper {
  width: 100%;
  max-width: 1480px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.single-post .wrapper .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.single-post .wrapper .main-content .category {
  color: #a60505;
  margin-bottom: 15px;
}

.single-post .wrapper .main-content .title {
  margin-bottom: 40px;
}

.single-post .wrapper .main-content hr.top-line {
  width: 100px;
  color: #a60505;
  margin-bottom: 40px;
}

.single-post .wrapper .main-content .author-wrapper {
  font-weight: 500;
  font-style: italic;
  margin-bottom: 40px;
}

.single-post .wrapper .main-content .post-image {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 40px;
}

.single-post .wrapper .owner-content {
  padding-top: 20px;
  margin-top: 80px;
  border-top: 1px solid #000;
}

.single-post .wrapper .owner-content a {
  padding: 20px 30px;
  background-color: rgb(115, 0, 113);
  color: #FFF;
  text-align: center;
  float: right;
  text-decoration: none;
  font-weight: 500;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

footer .footer-container {
  max-width: 1480px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  margin: 0 auto;

}

footer .footer-container p  {
  font-style: italic;
  color: black;

}

.list-items li a,
.list-items li a:visited,
.list-items li a:hover,
.list-items li a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
  color: #000;
}

.list-items li a:hover{
	color:rgb(115, 0, 113);
}

.list-items li a:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  bottom:-2px;
  height:2px;
  width:0;
  background:rgb(115, 0, 113);
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

.list-items li a:hover:after{
  width:100%;
}


/* Login Register Page */

.login-register-page {
  width: 100%;
  height: calc(100vh - 173px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.93)),
    url('images/loginRegisterBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-register-page form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.login-register-page form h2 {
  margin-bottom: 40px;
}

.login-register-page form input {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

.login-register-page form button {
  padding: 10px 30px;
  border: none;
  background-color: rgb(115, 0, 113); 
  cursor: pointer;
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
}

.categories {
  display: flex;
  align-items: center;
}

.categories span {
  margin-right: 20px;
}