* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  font-size: 16px;
  background-color: rgb(237, 230, 227);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

@import url('../src/components/Header/Header.css');
@import url('../src/components/About/About.css');
@import url('../src/components/Blog/Blog.css');
@import url('../src/components//SinglePost/SinglePost.css');
@import url('../src/components/Create/Create.css');
@import url('../src/components/Register/Register.css');
@import url('../src/components/Footer/Footer.css');